# Core Libraries
fastapi[all]
pydantic

runpod==1.6.2
typing-extensions>=4.8.0

# Image Processing Libraries
opencv-python-headless==4.8.1.78
Pillow>=9.0.0,<10.0.0

# Machine Learning Libraries
setuptools==69.5.1  # temp fix for compatibility with some old packages
GitPython==3.1.32
# CLI and Development Utilities
pyngrok==7.0.0

# Web and Networking Libraries
httpcore==0.15
inflection==0.5.1
jsonmerge==1.8.0

# Miscellaneous Libraries
blendmodes==2022
clean-fid==0.1.35
lark==1.1.2
piexif==1.1.3
psutil==5.9.5
resize-right==0.0.2
tomesd==0.1.3

xformers==0.0.26.post1
